*{
    font-family: 'Work Sans', sans-serif;
}

.nav-bar{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.title-section img{
    width: 40%;
}

.nav-title{
    width: 55%;
    font-size: 2rem;

}
.G{
    color: rgb(255, 66, 165);
}

.menu-section{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 40px;

}
.nav-anchor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section a{
    text-decoration: none;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav-btn{
    width: 260px;
    height: 60px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    
}

/* Banner section start */
.banner-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.banner-text-box{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
    height: 400px;
    background-image: url('./images/Group\ 14.png');
    object-fit: cover;
    padding-left: 150px;

}

.banner-title{
    color: #0B0223;
    font-size: 3rem;
    margin-bottom: 0px;
}

.goat{
    gap: 0px;
    font-size: 6rem;
    font-weight: bolder;
    color: rgb(249, 72, 124);
}

.banner-btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;

}

.banner-btn1, .gamer-btn{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 66, 165);
    color: azure;
}

.banner-btn2{
    width: 115px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #4EC5F7;
    color: azure;
}
.banner-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.banner-img-box img{
    width: 80%;
}

/* banner end */

/* we are gamer section start */

.we-are-gamer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.gamer-img-box{
    width: 45%;
}

.gamer-img-box img{
    width: 100%;
}

.gamer-text-box{
    width: 45%;
}

.gamer-text-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.gamer-title{
    margin: 0px;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(249, 72, 124);
}

.gamer-description{
    text-align: end;
}

.gamer-text-box p{
    font-size: 1.3rem;
}

.quota{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #534C64;
}

/* funny videos section */


.funny-videos{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px;
}


.funny-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.funny-videos-textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funny-videos-imgbox{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.f-v-img-{
    width: 20%;
    padding: 15px;
    
}

.f-v-img- img{
    width: 100%;
}

.f-v-title{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0px;
}

.f-v{
    color: rgb(249, 72, 124);

}

/* .play-instantly{
    margin-top: 40px;
    border: 2px solid skyblue;
    max-width: 1255px;
    margin: 0 auto;
}

.p-i-container{
    margin: 0px;
    border: 2px solid gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    height: 480px;
}

.p-i-text-container{
    width: 50%;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.p-i-text-box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.p-i-img-container{
    border: 3px solid red;
    width: 50%;
}
.p-i-img-box{
    border: 2px solid hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.p-i-image img{
    width: 100%;
} */





.play-instantly{
    margin-top: 40px;
    border: 2px solid skyblue;
    max-width: 1255px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.p-i-container{
    margin: 0px;
    border: 2px solid gold;
    display: flex;
    align-items: start;
    height: 580px;
}

.p-i-text-container{
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-i-text-box{
    width: 350px;
    height: 295px;
    border: 2px solid seagreen;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;

}

.p-i-title{
    margin: 0;
    font-size: 3rem;
}

.p-i-img-container{
    border: 2px solid rgb(12, 187, 187);
}

.p-i-img-box{
    position: relative;
    margin-top: 0px;
    width: 50%;
    border: 2px solid red;
}

.p-i-img-box img{
    width: 100%;
}


.p-i-img-box{
    position: relative;
}

.raletive-img{
    width: 80%;
    position: absolute;
    bottom: -100px;
    left: -150px;
}
.raletive-img img{
    width: 80%;
}








/* Mobile Responsive  */

@media screen and (max-width: 576px)
{ 
    .nav-bar,  .title-section, .nav-anchor, .we-are-gamer, .funny-videos-textbox, {
        flex-direction: column;
    }

    .banner-section{
        flex-direction: column-reverse;
        gap: 30px;
        
    }
    .nav-bar{
        margin: 20px;

    }

    .title-section{
        width: 60%;
        margin-bottom: 0px;
    }

    .title-section img, .we-are-gamer, .gamer-text-box, .banner-img-box, .gamer-img-box{
        width: 100%;

    }


    .banner-text-box, .gamer-text-box{
        align-items: center;
        width: 100%;
        padding-left: 10px;
    }

    .we-are-gamer, .gamer-img-box img, .gamer-text-box{
        width: 100%;
        align-items: center;
        padding: 0px;
    }

    .gamer-text-box p, .purpose{
        width: 100%;
        font-size: 1rem;
        text-align: left;
        padding: 0px;
    }

    .we-are-gamer, 
    {
        padding: 0px;
    }
    .quota{
        font-size: 1.25rem;
    }
    .purpose{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .funny-videos{
        padding: 0px;
    }

    .f-v-title{
        font-size: 1.65rem;
    }

    .f-v-description{
        font-size: 0.7rem;
    }

    .funny-videos-imgbox{
        width: 100%;
        flex-direction: column;
    }

    .f-v-img-{
        padding: 0px;
        width: 90%;
    }



}